<!DOCTYPE html>
<html>
<head>
    <title>Configure Monitoring</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Configure Monitoring</h1>
    <form method="post">
        IP Address: <input type="text" name="ip" required><br>
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        Port: <input type="text" name="port" required><br>
        Interval (minutes): <input type="text" name="interval" required><br>
        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
